# Environment and API keys
.env
langgraph_basics_openai_api_key.txt
tavily_kod.txt

# Temporary and test files
proba.txt
workflow_README.docx

# Logs
*.log

# Dependencies
node_modules/

# Test results and old tests
tests_old/

# BPMN workflow outputs
bpmn_futasok/

# Diagrams
diagrams/

# Deprecated/old tool files
tools/bpmn_SparqlTool.ts
tools/SparqlTool.ts
tools/JSONLoggerSparqlTool.ts

# Workflow files
bpmn_workflow.ts
tmtTeljes_workflow.ts

# System prompt versions
system_prompts/system_prompt_verziok.txt

# Evaluatin metrics
evaluation_metrics/llm_judge.ts

# Summary
automated_test_results/_summary/summary.xlsx

.cache/
